* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reg-content {
    padding: 30px;
    margin: 3px;

}

a,
img {
    border: 0;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    background: url("../images/reg_bg_min.jpg") no-repeat 0px 0px;
    background-size: 100% 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inputs {
    /*设置居中*/
    vertical-align: middle;
    height: 80px;
    text-align: left;
    font-size: 14px;
    margin: 0px 0px 0px 34px;
}

/*清除浮动*/
.clear {
    clear: both;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.form-div {
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 424px;
    margin-top: 150px;
    margin-left: 1050px;
    padding: 30px 0 20px 0px;
    font-size: 16px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(75, 75, 75, 0.3);
    text-align: left;
    height: 520px;
}

.form-div input[type="text"],
.form-div input[type="password"],
.form-div input[type="email"] {
    width: 268px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 16px;
}
.form-div input[type="checkbox"] {
    margin: 20px 0 20px 10px;
}
#phone{
    margin: 0px;
}
.form-div input[type="button"],
.form-div input[type="submit"] {
    margin: 10px 20px 0 0;
}

.form-div table {
    margin: 0 auto;
    text-align: right;
    color: rgba(64, 64, 64, 1.00);

}

.form-div p img {
    vertical-align: middle;
    margin: 0 0 5px 0;
}

.footer {
    color: rgba(64, 64, 64, 1.00);
    font-size: 12px;
    margin-top: 30px;
}

.form-div .buttons {
    width: 325px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #eee;
    padding: 10px;
    border: 1px solid #D4D4D4;
    color: #333333;
    margin-top: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #50afeb;
    outline: none;
}

input[type="button"],
input[type="submit"] {
    padding: 7px 15px;
    background-color: #3c6db0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    min-width: 80px;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.3);
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #5a88c8;
}

input[type="button"]:active,
input[type="submit"]:active {
    background-color: #5a88c8;
}

.err_msg {
    line-height: 30px;
    color: red;
    text-indent: 5em;
    width: 100%;
    display: inline-block;
}

#reg_btn {
    margin-right: 50px;
    width: 285px;
    height: 45px;
    margin-top: 20px;
}

#checkCode {
    width: 100px;
}

#changeImg {
    color: red;
}