<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载外部的JDBC配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>
    <!--配置数据源对象-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--驱动架包-->
        <property name="driverClass" value="${jdbc.driver}"/>
        <!--数据库地址-->
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <!--用户名-->
        <property name="user" value="${jdbc.username}"/>
        <!--数据库密码-->
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--Spring配置JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property ref="dataSource" name="dataSource"/>
    </bean>

    <!--配置RoleService-->
    <bean id="iRoleService" class="com.config.service.impl.RoleServiceImpl">
        <!--配置里面的Dao属性-->
        <property name="roleDao" ref="roleDao"/>
    </bean>
    <!--配置RoleDao-->
    <bean class="com.config.dao.impl.RoleDaoImpl" id="roleDao">
        <!--配置jdbc-->
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <!--配置UserService-->
    <bean id="userService" class="com.config.service.impl.UserServiceImpl">
        <!--配置里面的Dao属性-->
        <property name="userDao" ref="userDao"/>
    </bean>
    <!--配置UserDao-->
    <bean class="com.config.dao.impl.UserDaoImpl" id="userDao" >
        <!--配置jdbc-->
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean class="com.config.utils.Util" id="util" scope="singleton" init-method="init"/>

</beans>